body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f0d7; /* Cream background */
}

header {
    background-color: #0d0d0d;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content-box {
    background: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#msg {
    margin-top: 15px;
    color: green;
    font-weight: bold;
    display: none;
}
